.dish-list {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--spacing-md);
  box-shadow: var(--shadow-md);
  border-radius: var(--border-radius-md);
  background-color: var(--color-background-white);
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-md);
  flex-wrap: wrap;
}

.filters select {
  width: 100%; 
  max-width: 300px; 
}

.filters select {
  padding: var(--spacing-sm);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-sm);
  margin-bottom: var(--spacing-md);
  background-color: var(--color-background-light);
  color: var(--color-text-primary);
  appearance: none; 
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23454545"/></svg>'); 
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px;
  transition: border-color 0.3s, background-color 0.3s;
}

.filters select:focus {
  outline: none;
  border-color: var(--color-primary);
  background-color: var(--color-background-white);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: var(--spacing-md);
}

th,
td {
  text-align: left;
  padding: var(--spacing-sm);
  border-bottom: 1px solid var(--color-border-light);
}

th {
  cursor: pointer;
  background-color: var(--color-background-light);
}

th:hover {
  background-color: var(--color-background-secondary);
}

tbody tr:hover {
  background-color: var(--color-background-secondary);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
}

.pagination button {
  padding: var(--spacing-sm) var(--spacing-md);
  border: none;
  border-radius: var(--border-radius-md);
  background-color: var(--color-primary);
  color: var(--color-background-white);
  cursor: pointer;
}

.pagination button:disabled {
  background-color: var(--color-text-light);
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
  }

  th,
  td {
    padding: var(--spacing-sm);
  }

  .pagination {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .dish-list {
    padding: var(--spacing-sm);
  }

  th,
  td {
    font-size: var(--font-size-xs);
  }
}